<!-- templates/adminIc/adminHeader.html -->
<header th:fragment="adminHeaderFragment">
  <div class="container-fluid">
    <div class="row bg-secondary py-2 px-xl-5">
      <div class="col-lg-6 d-none d-lg-block">
        <div class="d-inline-flex align-items-center">
          <button class="btn" onclick="location.href='/index.html'">Home</button>
        </div>
      </div>
      <div class="col-lg-6 text-center text-lg-right">
        <div class="d-inline-flex align-items-center">
          <a href="#" class="text-dark">Logout</a>
        </div>
      </div>
    </div>
  </div>
</header>
