<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.bookgo.mapper.BookDetailMapper">

    <!-- Result Map 정의 -->
    <resultMap id="BookDetailResultMap" type="com.bookgo.vo.BookDetailVO">
        <result property="isbn13" column="isbn13"/>
        <result property="title" column="title"/>
        <result property="authors" column="authors" typeHandler="com.bookgo.handler.StringListTypeHandler"/>
        <result property="publisher" column="publisher"/>
        <result property="pubDate" column="pubDate"/>
        <result property="priceStandard" column="priceStandard"/>
        <result property="customerReviewRank" column="customerReviewRank"/>
        <result property="introduction" column="introduction"/>
        <result property="category" column="category"/>
        <result property="authorInfo" column="authorInfo"/>
        <result property="mainImg" column="mainImg"/>
        <result property="contents" column="contents"/>
        <result property="recommendations" column="recommendations"/>
        <result property="bookInside" column="bookInside"/>
        <result property="publisherReview" column="publisherReview"/>
        <result property="cover" column="cover"/>
    </resultMap>

    <!-- 책 상세 정보를 가져오는 쿼리 -->
    <select id="selectBookDetailByIsbn13" resultMap="BookDetailResultMap">
        SELECT *
        FROM book_detail
        WHERE isbn13 = #{isbn13, jdbcType=VARCHAR}
    </select>

    <!-- 책 상세 정보를 삽입하는 쿼리 -->
    <insert id="insertBookDetail" parameterType="com.bookgo.vo.BookDetailVO">
        INSERT INTO book_detail (
            isbn13,
            title,
            authors,
            publisher,
            pubDate,
            priceStandard,
            customerReviewRank,
            introduction,
            category,
            authorInfo,
            mainImg,
            contents,
            recommendations,
            bookInside,
            publisherReview,
            cover
        ) VALUES (
                     #{isbn13, jdbcType=VARCHAR},
                     #{title, jdbcType=VARCHAR},
                     #{authors, typeHandler=com.bookgo.handler.StringListTypeHandler, jdbcType=VARCHAR},
                     #{publisher, jdbcType=VARCHAR},
                     #{pubDate, jdbcType=DATE},
                     #{priceStandard, jdbcType=NUMERIC},
                     #{customerReviewRank, jdbcType=NUMERIC},
                     #{introduction, jdbcType=CLOB},
                     #{category, jdbcType=VARCHAR},
                     #{authorInfo, jdbcType=CLOB},
                     #{mainImg, jdbcType=VARCHAR},
                     #{contents, jdbcType=CLOB},
                     #{recommendations, jdbcType=CLOB},
                     #{bookInside, jdbcType=CLOB},
                     #{publisherReview, jdbcType=CLOB},
                     #{cover, jdbcType=VARCHAR}
                 )
    </insert>

</mapper>
